html, body {
  margin: 0;
  padding: 0;
  padding-left: 0.5%;
  padding-top: 0.5%;
  background-image: linear-gradient(to right, rgba(167, 136, 168,1), rgba(111, 60, 137,1));
  font-family: 'Bubblegum Sans', cursive;
}
canvas {
  display: block;
}
input {
  background-color: #f1f1f1;
}
img {
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p {
  font-size: 18px;
}
